<p-dataTable #dt [value]="value" [rows]="20" [paginator]="true" [pageLinks]="3" selectionMode="single" [(selection)]="selectedClient"
  (onRowSelect)="onRowSelect($event)" [rowsPerPageOptions]="[10,20,30,40,50]" styleClass="apelList" sortField="id" sortOrder="-1">
  <p-headerColumnGroup>
    <p-row>
      <p-column field="id"  header="ID" rowspan="2" [sortable]="true"></p-column>
      <p-column field="idTestOrg" header="№ ВУЗ" rowspan="2" sortable="true"></p-column>
      <p-column field="nameTestOrg" header="Наименование ВУЗа" rowspan="2" [style]="{'width':'600px'}"></p-column>
      <p-column header="Поток" rowspan="2"></p-column>
      <p-column field="importDate" header="Дата/Время принятия" rowspan="2" sortable="true"></p-column>
      <p-column field="sendDate" header="Дата/Время отправки" rowspan="2" sortable="true"></p-column>
      <p-column header="Апелляции" colspan="3"></p-column>
    </p-row>
    <p-row>
      <p-column field="raspr" header="Распределено" [sortable]="true"></p-column>
      <p-column field="print" header="Распечатано" sortable="true"></p-column>
      <p-column field="finish" header="Завершено" sortable="true"></p-column>

  </p-row>
  </p-headerColumnGroup>
    <p-column  [sortable]="true" field="id" [style]="{'text-align':'center'}"></p-column>
    <p-column  [sortable]="true" field="idTestOrg" [style]="{'text-align':'center'}"></p-column>
    <p-column  [sortable]="true" field="nameTestOrg"></p-column>
    <p-column  [sortable]="true" field="period" [style]="{'text-align':'center'}"></p-column>
    <p-column  [sortable]="true" field="importDate" [style]="{'text-align':'center'}"></p-column>
    <p-column  [sortable]="true" field="sendDate" [style]="{'text-align':'center'}"></p-column>
    <p-column  [sortable]="true" field="raspr" [style]="{'text-align':'center'}"></p-column>
    <p-column  [sortable]="true" field="print" [style]="{'text-align':'center'}"></p-column>
    <p-column  [sortable]="true" field="finish" [style]="{'text-align':'center'}"></p-column>
</p-dataTable>
